
# dependencias
node_modules/

# variables de entorno
.env
.env.*

# compilación y distribución
build/
dist/

# logs
npm-debug.log*
yarn-debug.log*
*.log

# caché y cobertura
.cache/
coverage/
.eslintcache

# IDEs y editores
.vscode/
.idea/

# archivos de sistema
.DS_Store
Thumbs.db

# certificados locales (opcional)
*.pem
*.key